body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-box {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:100vw;
    height:70px;
    background-color: white;
}
.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.header-menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0 10px;
    margin: 10px 10px;

}
div a {
    text-decoration: none;
    color: #d7a2e5;
    font-size: 20px;
    margin-left: 20px;
}

main img {
    width: 100%;
    height: 40vh;;
    object-fit: cover;
    position: absolute;
    top: 70px;
    left: 0;
}
#header-title {
    display: flex;
    position: relative;
    z-index: 1;
    margin-left: 60px;
    color: white;
    margin-top: 80px;

}
.main-box {
    display: flex;
    align-items:center;
    justify-content: center;
    width:100vw;      /* fit the width of the page */
    height:70px;      /* changes the height of the content */
    background-color: white;
    margin-top:70px;  /* pushes the content down the page */
}
h2 {
    color: #d7a2e5;
}
.article1 {
    display: flex;
    flex-direction: column;
    width:80%;      
    background-color: white;
    margin: 50px auto; /* centers the element horizontally */
    padding-bottom: 300px;
    border-radius: 20px;

}
.article1-header {
    width: 100%;      
    height:70px; 
    margin-top: -70px;     
    background-color: #d7a2e5;
    border-radius: 20px 20px 0 0;

}
article h2{
    display:flex;
    justify-content: center;
    padding-right: 70%;
    color: white;
    z-index: 1;
    
    
}


/* currently this isn't good for mobile responsiveness */