body {
    font-family: 'Poppins', sans-serif;
    background-color: #e3e3e3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-box {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:100vw;
    height:70px;
    background-color: #365969;
}
.logo {
    width: 50px;
    height: 50px;
    margin: 10px;
}
.header-menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0 10px;
    margin: 10px;

}
div a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 20px;
    
}